.description{
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    width:90%;
}

.description h4 {
    font-size: 2.2rem;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffbf00;
    color: #ffbf00;
}


a:link {
    color: #0099ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.paper-image-small{
    border: 10px solid transparent;
    width: 100%;
    min-width: 50px;
    max-width: 250px;
    object-fit: contain;
}
.paper-image{
    border: 10px solid transparent;
    width: 100%;
    min-width: 50;
    max-width: 250;
}
.paper-info-block{
    margin-top: 5px;
}

.paper-title{
    font-size:16px;
}

.paper-pdf-link{
    color: #0099ff;
}
.paper-video-link{
    color: #EF6D3D;
}

/* Responsive adjustments for publications */
@media screen and (max-width: 768px) {
    .description h4 {
        font-size: 1.8rem;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .description h4 {
        font-size: 1.6rem;
    }
}