.description{
    margin: 10%;
    text-align: left;
    font-size:18;
    width:80%;
}


a:link {
    color: #0099ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.paper-image-small{
    border: 10px solid transparent;
    width: 300px;
    height: 200px;
}
.paper-info-block{
    margin-top: 15px;
}

.paper-title{
    font-size:20;
}